ul.sequence {
  position: relative; }

li.sequence-member {
  position: relative;
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 1.5em 0; }
  li.sequence-member .sequence-member {
    background: white; }
    li.sequence-member .sequence-member .sequence-member {
      background: #f2f2f2; }
      li.sequence-member .sequence-member .sequence-member .sequence-member {
        background: white; }
        li.sequence-member .sequence-member .sequence-member .sequence-member .sequence-member {
          background: #f2f2f2; }
  li.sequence-member:hover .sequence-member-inner > .struct-block > label,
  li.sequence-member:hover .sequence-member-inner > .char_field > label,
  li.sequence-member:hover .sequence-member-inner .sequence > label {
    opacity: 1; }
  li.sequence-member .struct-block .fields {
    padding-left: 0;
    padding-right: 0; }
  li.sequence-member .struct-block .sequence-container {
    padding-left: 0;
    padding-right: 0; }
  li.sequence-member .sequence-member-inner {
    position: relative;
    padding: 0 1.5em;
    margin: 1.5em 0; }
  li.sequence-member .fields > li {
    position: relative;
    margin: 1.5em 0; }

.sequence-member-inner > .widget-admin_image_chooser label {
  display: none; }

.sequence-member-inner > .widget-admin_image_chooser .field-content {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  max-width: 500px;
  margin: auto;
  border: 1px solid #e6e6e6;
  padding: 1em; }

.sequence-member-inner > .widget-admin_image_chooser .chooser .chosen {
  padding: 0; }

.sequence-member-inner > .widget-admin_image_chooser .chooser .unchosen:before {
  float: none;
  font-size: 4em;
  margin: 0; }

.sequence-member-inner > .widget-admin_image_chooser .chooser .preview-image {
  float: none;
  margin: 0; }

.sequence-member-inner > .widget-admin_image_chooser .actions li {
  display: inline-block;
  float: none; }

.sequence-controls {
  background-color: #e6e6e6; }

.stream-menu {
  box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: #333;
  opacity: 1; }
  body.ready .stream-menu {
    transition: all 0.2s ease; }
  .stream-menu .toggle {
    border-radius: 50px;
    position: absolute;
    top: -0.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.7em;
    width: 1em;
    height: 1em;
    display: block;
    z-index: 1;
    color: #333;
    background-color: #fff;
    outline: none; }
    body.ready .stream-menu .toggle {
      transition: color 0.2s ease; }
    .stream-menu .toggle span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
      .stream-menu .toggle span:active, .stream-menu .toggle span:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto; }
    .stream-menu .toggle:before {
      transform: rotate(-45deg);
      position: absolute;
      font-family: wagtail;
      content: 'B';
      line-height: 1em;
      text-align: center; }
  .stream-menu .stream-menu-inner {
    transform: translate3d(0, 0, 0);
    max-width: 50em;
    margin: auto;
    overflow: hidden; }
  .stream-menu ul {
    transform: translate3d(0, 0, 0) scale(1);
    visibility: visible;
    opacity: 1;
    padding: 1em 1em 0;
    overflow: hidden; }
    body.ready .stream-menu ul {
      transition: all 0.2s ease; }
    .stream-menu ul:before, .stream-menu ul:after {
      content: ' ';
      display: table; }
    .stream-menu ul:after {
      clear: both; }
  .stream-menu li {
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 25%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 3%;
    padding-left: 0;
    padding-right: 0; }
    .stream-menu li:nth-child(4n+1) {
      clear: left; }
  .stream-menu button {
    background-color: transparent;
    border: 0;
    color: #cccccc;
    height: auto;
    display: block;
    width: 100%;
    padding: 0 0 0.5em;
    outline: #0f6665;
    overflow: visible; }
    body.ready .stream-menu button {
      transition: all 0.2s ease; }
    .stream-menu button span {
      text-transform: none;
      white-space: pre-wrap;
      width: 100%;
      display: block;
      overflow: hidden;
      padding: 0 1em;
      box-sizing: border-box; }
    .stream-menu button:before {
      display: block;
      font-family: wagtail;
      font-size: 2em;
      width: 100%;
      height: 2em;
      line-height: 2em;
      text-align: center; }
    .stream-menu button:hover, .stream-menu button:focus {
      background-color: #0f6665;
      color: #fff; }
  .stream-menu.stream-menu-closed {
    box-shadow: none; }
    .stream-menu.stream-menu-closed .stream-menu-inner {
      position: absolute; }
      .stream-menu.stream-menu-closed .stream-menu-inner ul {
        transform: scale(0.9);
        opacity: 0; }
    .stream-menu.stream-menu-closed .toggle {
      color: #d9d9d9;
      background-color: #fff; }
      .stream-menu.stream-menu-closed .toggle:before {
        transform: rotate(0deg); }
      .stream-menu.stream-menu-closed .toggle:focus {
        color: #0f6665; }
    .stream-menu.stream-menu-closed:hover {
      border-top-color: #0f6665; }
      .stream-menu.stream-menu-closed:hover .toggle {
        color: #0f6665; }
  @media screen and (min-width: 50em) {
    .stream-menu li {
      box-sizing: border-box;
      display: inline;
      float: left;
      width: 16.66667%;
      padding-right: 1.5%;
      padding-left: 1.5%; }
      .stream-menu li:nth-child(4n+1) {
        clear: none; }
      .stream-menu li:nth-child(6n+1) {
        clear: left; } }

.sequence-member .stream-menu {
  margin: auto auto 0; }

.sequence-member .stream-menu-closed {
  opacity: 0;
  visibility: hidden; }

.sequence-member:hover .sequence-controls {
  visibility: visible;
  opacity: 1; }

.sequence-member:hover .stream-menu {
  visibility: visible;
  opacity: 1; }

@media screen and (min-width: 50em) {
  .object li.sequence-member:hover .object-help {
    opacity: 1; } }

.page-editor .content-wrapper {
  margin-bottom: 10em; }

.page-editor .content {
  background-color: transparent; }

.page-editor .breadcrumb {
  margin-top: -1.2em;
  margin-bottom: 2em; }

.page-editor .modal .breadcrumb {
  margin: 0;
  background-color: transparent; }
  .page-editor .modal .breadcrumb a {
    color: #666; }
  .page-editor .modal .breadcrumb li:hover {
    background-color: #e6e6e6; }
  .page-editor .modal .breadcrumb .home {
    padding-left: 0; }

.tab-content {
  width: calc(80% - 1px);
  float: left;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom-right-radius: 4px; }

.object {
  position: relative;
  overflow: hidden; }
  .object:first-child {
    border: 0; }
  .object.focused {
    border-color: #54d0d0; }
  .object .object-help {
    display: block;
    position: relative;
    margin: 1.5em 0; }
    .object .object-help:before {
      border-radius: 100%;
      display: inline-block;
      content: '?';
      border: 1px solid #666;
      color: #666;
      height: 15px;
      width: 15px;
      line-height: 15px;
      text-align: center;
      font-size: 1.1em;
      margin-right: 0.5em; }
  .object > h2 {
    -webkit-font-smoothing: auto;
    background: #fcf2f2;
    text-transform: uppercase;
    padding: 0;
    font-size: 0.95em;
    margin: 0;
    line-height: 1.5em;
    font-weight: normal;
    z-index: 1;
    display: flex;
    align-items: center; }
    .object > h2 label {
      text-transform: inherit;
      font-weight: inherit;
      color: inherit;
      font-size: inherit;
      padding: 0 0 0 1.5em;
      margin: 0; }
    .object > h2 + .object-help {
      padding: 0 1.5em; }
      .object > h2 + .object-help + fieldset {
        /* FIXME: This negative margin can be avoided with better markup. */
        margin-top: -1.5em; }
    .object > h2:before {
      text-shadow: none;
      font-family: wagtail;
      text-transform: none;
      content: 'q';
      text-align: center;
      display: block;
      z-index: 2;
      font-size: 2em;
      top: 0;
      line-height: 1.8em;
      left: 0;
      width: 1.7em;
      color: #fff;
      padding: 0;
      margin: 0;
      background-color: #f37e77;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .object.required > h2 label:after {
    content: '*';
    color: #cd3238;
    font-weight: bold;
    display: inline-block;
    margin-left: 0.5em;
    line-height: 1em;
    font-size: 13px; }
  .object.full .object-help {
    display: block; }
  .object.full li {
    padding: 0; }
  .object.full .error-message {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2em; }
    @media screen and (min-width: 50em) {
      .object.full .error-message {
        padding-left: 50px;
        padding-right: 50px; } }
  .object.full .error,
  .object.full .error input,
  .object.full .error textarea,
  .object.full .error .richtext {
    background-color: #feedee; }
  .object.stream-field.required .field > label:after {
    display: none; }
  .object.publishing h2:before {
    content: '7';
    font-size: 1.8rem;
    line-height: 1.4em;
    width: 1.4em; }
  .object.empty {
    border-bottom: 1px solid #fff; }
    .object.empty > h2 {
      margin: 0;
      border-bottom: 1px solid #fff; }
    .object.empty .add {
      transition: background-color 0.2s ease;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 3.3em;
      height: 3.3em;
      padding: 0;
      margin: 0;
      cursor: pointer; }
      .object.empty .add .button {
        border-radius: 0;
        overflow: visible;
        background-color: #fcf2f2;
        font-size: 0;
        width: 2em; }
        .object.empty .add .button:before {
          position: relative;
          padding: 0;
          line-height: 1.8em;
          font-size: 1.4rem;
          width: 1.8em;
          background-color: #f37e77; }
        .object.empty .add .button:hover:before {
          background-color: #f16860; }
  .object.collapsible {
    min-height: 41px; }
    .object.collapsible h2:before,
    .object.collapsible h2 label:before {
      content: '6';
      cursor: pointer; }
    .object.collapsible.collapsed h2:before,
    .object.collapsible.collapsed h2 label:before {
      content: '5'; }

.full input,
.full textarea,
.full .richtext {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-left: 0;
  padding-right: 0;
  background: transparent; }

.title input,
.title textarea,
.title .richtext {
  font-size: 2em;
  font-family: Roboto Slab, Georgia, serif; }

footer .preview button,
footer .preview .button {
  background-color: gray;
  border-color: gray; }
  footer .preview button:hover,
  footer .preview .button:hover {
    background-color: #666;
    border-color: #666; }

footer .preview .dropdown input[type=button],
footer .preview .dropdown input[type=submit],
footer .preview .dropdown button,
footer .preview .dropdown .button {
  background-color: gray;
  border-color: gray; }
  footer .preview .dropdown input[type=button]:hover,
  footer .preview .dropdown input[type=submit]:hover,
  footer .preview .dropdown button:hover,
  footer .preview .dropdown .button:hover {
    background-color: #666;
    border-color: #666; }

footer .preview .dropdown ul,
footer .preview .dropdown .dropdown-toggle {
  background-color: gray; }

footer .preview .dropdown .dropdown-toggle:hover,
footer .preview .dropdown.open > .button + .dropdown-toggle {
  background-color: #666; }

.controls,
.sequence-controls {
  transition: opacity 0.2s ease;
  display: flex;
  justify-content: flex-end;
  top: -30px;
  right: 0;
  z-index: 1;
  overflow: visible;
  padding: 0 0 0 1em;
  height: 30px; }
  .controls h3,
  .sequence-controls h3 {
    margin: 0;
    font-size: 0.7rem;
    display: inline-block;
    margin-right: 1em;
    line-height: 1.8rem;
    flex: 1; }
    .controls h3 label,
    .sequence-controls h3 label {
      color: #666;
      font-weight: normal;
      text-transform: uppercase;
      float: none;
      width: auto;
      padding: 0;
      margin: 0;
      margin-top: 7px; }
  .controls button.icon.text-replace,
  .sequence-controls button.icon.text-replace {
    width: 1.8rem;
    height: 1.8rem; }
    .controls button.icon.text-replace:before,
    .sequence-controls button.icon.text-replace:before {
      line-height: 1.3em;
      font-size: 0.9rem; }
  .controls button.icon,
  .sequence-controls button.icon {
    background: transparent;
    border: none; }
    .controls button.icon::before,
    .sequence-controls button.icon::before {
      color: #666; }
    .controls button.icon:hover,
    .sequence-controls button.icon:hover {
      background: transparent; }
      .controls button.icon:hover::before,
      .sequence-controls button.icon:hover::before {
        color: #0f6665; }
  .controls .button-group,
  .sequence-controls .button-group {
    float: right; }
  .controls:hover .buttons,
  .controls:hover label,
  .sequence-controls:hover .buttons,
  .sequence-controls:hover label {
    opacity: 1; }
  .controls .disabled,
  .sequence-controls .disabled {
    display: none; }

@media screen and (min-width: 50em) {
  .page-editor .breadcrumb {
    margin-top: -1.8em; }
  .object .object-help {
    display: block; }
  .object.full input,
  .object.full textarea,
  .object.full .richtext {
    border-width: 0; }
    .object.full input:focus,
    .object.full textarea:focus,
    .object.full .richtext:focus {
      box-shadow: none; }
  .object.full .field {
    padding: 0; }
  .object.full .field-content {
    display: block;
    float: none;
    width: auto;
    padding: inherit; } }
